.description {
  display: flex;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  min-width: 784px;
  border-bottom: solid gray 1px;
  border-top: solid gray 1px;
  border-width: 100%;
  justify-content: space-between;
  align-items: center;
}
