.feynman__title {
  display: flex;
width: 648px;
flex-wrap: wrap;
position: relative;
margin-top: -100px;
max-width: 0px;
align-items: center;
line-height: 1.15;
font-size: 120px;
font-weight: bold;
justify-content: center;
}