.feynman {
  display: flex;
  position: relative;
  height: 890px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/images/feinman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  overflow: hidden;
}