.section-title__video {
width: 60%;
display: flex;
flex-wrap: wrap;
position: relative;
margin-top: 100px;
margin-bottom: 0px;
position: relative;
line-height: 1.15;
font-size: 60px;
font-weight: bolder;
justify-content: center;
}