.header__square-pic {
  display: flex;
  position: absolute;
  width: 568px;
  height: 568px;
  right: 0;
  top: 30px;
  z-index: 1;
  background-color: blue;
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  